.blocks {
  width: 100%;
  padding: 8px;

  .block {
    display: flex;
    padding: 4px 0;

    &.paragraph {
    }

    &.list {
      background: red;
    }

    .handle {
      user-select: none;
      touch-action: none;
    }

    .text {
      flex: 1;
      padding: 0 8px;
      transition: margin-left 80ms ease-in-out;

      @for $i from 0 through 8 {
        &[indent="#{$i}"] {
          margin-left: $i * 1rem;
        }
      }
    }
  }
}
