.ul {
  width: 100%;
  padding: 12px;

  .li {
    width: 100%;
    padding: 4px 0 4px 24px;

    .handle {
      user-select: none;
      touch-action: none;
    }

    .text {
      padding: 0 8px;
      transition: margin-left 120ms ease-in-out;

      @for $i from 0 through 8 {
        &[indent="#{$i}"] {
          margin-left: $i * 1rem;
        }
      }
    }
  }
}
