.paperviewcontainer {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.block {
  display: block;
  padding: 0.5rem 0;
  min-height: 2.5rem;

  &.is_handling {
    background: rgba(46, 170, 220, 0.2);
  }

  &.is_hover {
    position: relative;

    &:after {
      display: inline-block;
      position: absolute;
      content: '';
      width: 100%;
      height: 5px;
      left: 0;
      background: rgba(46, 170, 220, 0.3);
    }
  }

  &.is_hover_upper {
    @extend .is_hover;

    &:after {
      top: 0;
    }
  }

  &.is_hover_lower {
    @extend .is_hover;

    &:after {
      bottom: 0;
    }
  }
}

.decoration {
  display: block;
  // visibility: hidden;
  user-select: none;
  touch-action: none;
}

.handle {
  display: inline-block;
  width: 2rem;
  cursor: move;
  user-select: none;
  touch-action: none;
  padding: 0 0.25rem;
  opacity: 0.2;
  vertical-align: top;
}

.indentation {
  display: inline-block;
  height: 100%;
  transition: width 80ms ease-in-out;

  @for $i from 0 through 8 {
    &[data-indent="#{$i}"] {
      width: $i * 1rem;
    }
  }
}

.text {
  flex: 1;
  display: inline-block;
  padding: 0 0.25rem;
}

.paragraphblock {
  display: flex;
}

.todoblock {
  display: flex;

  .todocheckboxcontainer {
    display: inline-block;
    vertical-align: top;
    padding: 0.15rem 0;

    .todocheckbox {
      border: solid 2px #333;
      border-radius: 3px;
      width: 1rem;
      height: 1rem;

      &:checked {
        border-color: #aaa;
        position: relative;
        background: #eee;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: inline-block;
          width: 3px;
          height: 10px;
          background: #999;
          transform: rotate(135deg);
        }

        &:after {
          position: absolute;
          bottom: 0;
          right: 0;
          content: '';
          display: inline-block;
          width: 3px;
          height: 16px;
          background: #999;
          transform: rotate(45deg);
        }
      }
    }
  }

  &[data-checked=true] {
    .text {
      color: #aaa;
    }
  }
}

.headingblock {
  display: flex;
  width: 100%;
  font-weight: bold;
}

.heading1block {
  @extend .headingblock;
  font-size: 2rem;
  line-height: 2.5rem;
  padding: 2rem 0 3rem;
}

.heading2block {
  @extend .headingblock;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 2rem 0 1rem;
}

.heading3block {
  @extend .headingblock;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1.5rem 0 1rem;
}

.heading4block {
  @extend .headingblock;
  padding: 1rem 0;
}

.heading5block {
  @extend .headingblock;
  padding: 0.75rem 0;
}

.heading6block {
  @extend .headingblock;
  padding: 0.5rem 0;
}

.imageblock {
  display: flex;

  .image {
  }
}
