.blocks {
  width: 100%;
  padding: 8px;

  .block {
    display: flex;
    padding: 4px 0;

    .indentation {
      display: inline-block;
      transition: width 80ms ease-in-out;

      @for $i from 0 through 8 {
        &[data-indent="#{$i}"] {
          width: $i * 1rem;
        }
      }
    }

    &.paragraph {
    }

    &.list {
      background: red;
    }

    .handle {
      user-select: none;
      touch-action: none;
    }

    .text {
      display: inline-block;
      flex: 1;
      padding: 0 8px;
    }
  }
}

.container {
  position: relative;
  height: 100%;
}

.floating-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  transition: bottom 200ms ease-in-out;
}
