.blocks {
  width: 100%;
  padding: 8px;

  .block {
    display: flex;
    padding: 4px 0;

    .handle {
      display: inline-block;
      width: 1rem;
      background: red;
      cursor: grab;
      user-select: none;
      touch-action: none;
      background: url(/handle.svg) no-repeat;
      background-position: center 0.25rem;

      &.is_handling {
        cursor: grabbing;
      }
    }

    .indentation {
      display: inline-block;
      transition: width 80ms ease-in-out;

      @for $i from 0 through 8 {
        &[data-indent="#{$i}"] {
          width: $i * 1rem;
        }
      }
    }

    &.paragraph {
    }

    &.list {
      background: red;
    }

    .text {
      display: inline-block;
      flex: 1;
      padding: 0 0.25rem;
    }
  }
}

.container {
  position: relative;
  height: 100%;
}

.floating-nav {
  position: fixed;
  left: 0;
  bottom: 0;
}
