.paragraph {
  display: flex;
}

.quote {
  display: flex;

  .text {
    background: #eee;
    border-left: solid 2px #666;
    color: #666;
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  }
}

.handle {
  display: inline-block;
  cursor: grab;
  padding: 0 4px;
  user-select: none;


  span {
    opacity: 0.2;
    &:after {
      display: inline-block;
      content: attr(data-key);
    }
  }
}

.indentation {
  // FYI Hack for contenteditable caret move
  // If it doesn't have table attr, caret could not move to upper block
  display: table;
}

.text {
  flex: 1;
  padding: 0.25rem;
}

@for $i from 0 through 8 {
  .quote,
  .paragraph {
    &[indent="#{$i}"] {
      .indentation {
        width: $i * 1rem;
      }
    }
  }
}
