.indent-0 {
  padding-left: 0;
}
.indent-1 {
  padding-left: 1rem;
}
.indent-2 {
  padding-left: 2rem;
}
.indent-3 {
  padding-left: 3rem;
}
.indent-4 {
  padding-left: 4rem;
}
.indent-5 {
  padding-left: 5rem;
}
.indent-6 {
  padding-left: 6rem;
}
.indent-7 {
  padding-left: 7rem;
}
.indent-8 {
  padding-left: 8rem;
}

.paragraph {
  background: #a00;
}

.blockgroup {
  background: #aaa;
}
