.paragraph {
  padding: 0.25rem;
}

.quote {
  color: #666;
  background: #eee;
  padding: 0.5rem 0.25rem;
  border-left: solid 2px #666;
}

.blockquote {
  border-left: solid 2px #666;
  color: #666;
  background: #eee;
  padding-left: 0.5rem;
}

.handle {
  background: red;
  cursor: grab;
  padding: 2rem;

  span {
    background: white;
  }
}

@for $i from 0 through 8 {
  .quote,
  .paragraph {
    &[indent="#{$i}"] {
      .handle {
        span {
          margin-left: $i * 1rem;
        }
      }
    }
  }
}
